<app-navbar [items]="itemsBreadcrumb"></app-navbar>
<div class="border rounded-lg shadow-md p-6 mx-4">
  <div class="flex flex-col items-center">
    <div class="flex gap-8 justify-center items-center">
      <img
        [src]="track?.artworkUrl100 ? track?.artworkUrl100 : '/track.png'"
        alt="Copertina canzone"
        style="width: 8rem; height: 8rem; background: white; object-fit: cover"
      />
      <p-button
          [rounded]="true"
          severity="secondary"
          [style]="{ 'font-size': '1.5rem', padding: '1rem' }"
          (onClick)="
            track?.favorite ? removeFromFavorites(track) : addToFavorites(track)
          "
        >
          <span
            [class.material-symbols]="track?.favorite"
            [class.material-symbols-outlined]="!track?.favorite"
            style="font-size: 2rem"
          >
            favorite
          </span>
        </p-button>
    </div>
    <h2 class="text-4xl font-bold mt-6">{{ track?.trackName }}</h2>
    <p class="mt-3 text-xl">{{ track?.artistName }}</p>
    <div class="flex items-center justify-center mt-6 space-x-6 w-full">
      <p-button
        [rounded]="true"
        severity="secondary"
        [style]="{ 'font-size': '1.5rem', padding: '1rem' }"
        (onClick)="playerService.playerComp()?.paused ? playerService.play() : playerService.pause()"
      >
        <span class="material-symbols" style="font-size: 2rem">
          {{ playerService.playerComp()?.paused ? 'play_arrow' : 'pause' }}
        </span>
      </p-button>
      <div class="w-full mt-4">
        <progress [value]="(playerService.playerComp()?.currentTime ?? 0) * 1000 || 0" [max]="(playerService.playerComp()?.duration ?? 0) * 1000 || 30000" class="w-full"></progress>
        <div class="flex justify-between text-sm mt-1">
          <span>{{ (playerService.playerComp()?.currentTime ?? 0) * 1000 | date : "mm:ss" }}</span>
          <span>{{ (playerService.playerComp()?.duration ?? 0) * 1000 || 0 | date : "mm:ss" }}</span>
        </div>
      </div>
      <p-button
        [rounded]="true"
        severity="secondary"
        [style]="{ 'font-size': '1.5rem', padding: '1rem' }"
        (onClick)="playerService.stop()"
      >
        <span class="material-symbols" style="font-size: 2rem"> stop </span>
      </p-button>
    </div>
    <!-- Timeline slider -->
  </div>
</div>
