<app-navbar [items]="itemsBreadcrumb"></app-navbar>
<div class="border rounded-lg shadow-md p-6 mx-4">
  <div class="flex flex-col items-center">
    <div class="w-32">
      <img
        [src]="track?.artworkUrl100"
        alt="Track Picture"
        class="track-picture w-full"
      />
    </div>
    <h2 class="text-3xl font-bold mt-6">{{ track?.trackName }}</h2>
    <p class="mt-3 text-lg"><strong>Artist:</strong> {{ track?.artistName }}</p>
    <p class="text-lg"><strong>Album:</strong> {{ track?.collectionName }}</p>
    <div class="flex items-center justify-center mt-6 space-x-6 w-full">
      <p-button
        [rounded]="true"
        severity="secondary"
        [style]="{ 'font-size': '1.5rem', padding: '1rem' }"
        (onClick)="playerService.playerComp()?.paused ? playerService.play() : playerService.pause()"
      >
        <span class="material-symbols" style="font-size: 2rem">
          {{ playerService.playerComp()?.paused ? 'play_arrow' : 'pause' }}
        </span>
      </p-button>
      <div class="w-full mt-4">
        <progress [value]="(playerService.playerComp()?.currentTime ?? 0) * 1000" max="30000" class="w-full"></progress>
        <div class="flex justify-between text-sm mt-1">
          <span>{{ (playerService.playerComp()?.currentTime ?? 0) * 1000 | date : "mm:ss" }}</span>
          <span>{{ 30000 | date : "mm:ss" }}</span>
        </div>
      </div>
      <p-button
        [rounded]="true"
        severity="secondary"
        [style]="{ 'font-size': '1.5rem', padding: '1rem' }"
        (onClick)="playerService.stop()"
      >
        <span class="material-symbols" style="font-size: 2rem"> stop </span>
      </p-button>
    </div>
    <!-- Timeline slider -->
  </div>
</div>
