<p-table
  [value]="data()"
  stripedRows
  [tableStyle]="{ margin: '0 0 0 16px', width: 'calc(100% - 32px)' }"
>
  <ng-template #body let-row>
    <tr>
      @if (row.wrapperType == 'artist') {
      <td>
        @if (type() === 'char') {
        <p-avatar
          [label]="row.artistName.charAt(0)"
          size="xlarge"
          [style]="{ width: '100px', height: '100px' }"
        />
        } @else {
        <p-avatar
          [label]="row.artistName.charAt(0)"
          size="xlarge"
          [style]="{ width: '100px', height: '100px' }"
        />
        }
      </td>
      <td>
        <h2>{{ row.artistName }}</h2>
        @if (type() === 'char') {
        <h5>{{ row.primaryGenreName }}</h5>
        }
      </td>
      <td>
        <p-button
          [rounded]="true"
          severity="secondary"
          [style]="{ 'font-size': '1.5rem', padding: '1rem' }"
          (onClick)="
            row.favorite ? removeFromFavorites(row) : addToFavorites(row)
          "
        >
          <span
            [class.material-symbols]="row.favorite"
            [class.material-symbols-outlined]="!row.favorite"
            style="font-size: 2rem"
          >
            favorite
          </span>
        </p-button>
      </td>
      <td>
        <p-button
          [rounded]="true"
          severity="secondary"
          [style]="{ 'font-size': '1.5rem', padding: '1rem' }"
          [routerLink]="'/artist/' + row.artistId"
        >
          <span class="material-symbols-outlined" style="font-size: 2rem">
            account_circle
          </span>
        </p-button>
      </td>
      } @else if (row.wrapperType == 'collection') {
      <td>
        <p-avatar
          [image]="row.artworkUrl100"
          size="xlarge"
          [style]="{ width: '100px', height: 'auto' }"
        />
      </td>
      <td>
        <h2>{{ row.collectionName }}</h2>
        @if (type() === 'collection') {
        <h5>{{ row.artistName }}</h5>
        } @else {
        <h5>{{ row.releaseDate | date : "yyyy" }}</h5>
        }
      </td>
      <td>
        <p-button
          [rounded]="true"
          severity="secondary"
          [style]="{ 'font-size': '1.5rem', padding: '1rem' }"
          (onClick)="
            row.favorite ? removeFromFavorites(row) : addToFavorites(row)
          "
        >
          <span
            [class.material-symbols]="row.favorite"
            [class.material-symbols-outlined]="!row.favorite"
            style="font-size: 2rem"
          >
            favorite
          </span>
        </p-button>
      </td>
      <td>
        <p-button
          [rounded]="true"
          severity="secondary"
          [style]="{ 'font-size': '1.5rem', padding: '1rem' }"
          [routerLink]="'/album/' + row.collectionId"
        >
          <span class="material-symbols-outlined" style="font-size: 2rem">
            collections_bookmark
          </span>
        </p-button>
      </td>
      } @else if (row.wrapperType == 'track') {
      <td>
        @if (type() === 'number') {
        <p-avatar [label]="row.trackNumber" size="xlarge" />
        } @else {
        <p-avatar
          [image]="row.artworkUrl100"
          size="xlarge"
          [style]="{ width: '100px', height: '100px' }"
        />
        }
      </td>
      <td>
        <h2>{{ row.trackName }}</h2>
        <h5>{{ row.artistName }}</h5>
      </td>
      <td>
        <p-button
          [rounded]="true"
          severity="secondary"
          [style]="{ 'font-size': '1.5rem', padding: '1rem' }"
          (onClick)="
            row.favorite ? this.collectionService.removeCollection(row) : this.collectionService.addCollection(row)
          "
        >
          <span
            [class.material-symbols]="row.favorite"
            [class.material-symbols-outlined]="!row.favorite"
            style="font-size: 2rem"
          >
            favorite
          </span>
        </p-button>
      </td>
      <td>
        <p-button
          [rounded]="true"
          severity="secondary"
          [style]="{ 'font-size': '1.5rem', padding: '1rem' }"
          (click)="playSong(row)"
          [routerLink]="'/track/' + row.trackId"
        >
          <span class="material-symbols-outlined" style="font-size: 2rem">
            play_circle
          </span>
        </p-button>
      </td>
      }
    </tr>
  </ng-template>
</p-table>
