.toolbar {
  display: flex;
  align-items: center;
  border-bottom: 4px solid #1976d2;
  border-radius: 0 0 8px 8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(12px);
  gap: 16px;
  padding: 16px;
}
.toolbar .start {
  width: 100%;
  display: flex;
  flex: 1;
}

.toolbar .endLan {
  display: flex;
  gap: 8px;
  width: 100%;
}

.toolbar .end {
  text-align: end;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  min-width: 200px;
}

.toolbar .center {
  text-align: center;
  flex: 1;
}
