<div class="toolbar">
  <div class="start">
    <p-breadcrumb
      [model]="items"
      [style]="{ background: 'none', 'white-space': 'nowrap' }"
    >
      <ng-template #item let-item>
        @if (item.route) {
        <a [routerLink]="item.route" class="p-breadcrumb-item-link">
          <span>{{ item.label }}</span>
        </a>
        } @else {
        <a>
          <span>{{ item.label }}</span>
        </a>
        }
      </ng-template>
    </p-breadcrumb>
  </div>
  <div class="end">
    @if (isLanPage()) {
    <p-button
      label="Aggiungi"
      [style]="{ height: '40px' }"
      (onClick)="this.openDialog.emit()"
    >
    <span class="material-symbols"> add </span></p-button>

    <p-button
      label="Aggiorna"
      [style]="{ height: '40px' }"
      (onClick)="this.refresh.emit()"
    >
    <span class="material-symbols"> refresh </span></p-button>
    } @else {
    <input
      pInputText
      placeholder="Search"
      [(ngModel)]="searchService.query"
      aria-label="search"
      style="width: 100%; max-width: 32rem; height: 40px"
      [class.ng-invalid]="searchService.query.length < 3"
      (keydown.enter)="searchService.search(); router.navigate(['/'])"
    />
    <p-button
      [routerLink]="'/'"
      (onClick)="searchService.search()"
      [style]="{ height: '40px' }"
    >
      <span class="material-symbols"> search </span>
    </p-button>
    }
  </div>
</div>
<div class="divider"></div>
