.toolbar {
  height: 76px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 4px solid #1976d2;
  border-radius: 0 0 8px 8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(12px);
}
.toolbar .start {
  text-align: start;
  padding: 16px;
  flex: 1;
}

.toolbar .end {
  text-align: end;
  padding: 16px;
  flex: 1;
}

.toolbar .center {
  text-align: center;
  flex: 1;
}
