<div class="divider"></div>
<div class="bottombar">
  <div class="start">
    <p-button
    (onClick)="playerService.playerComp()?.paused ? playerService.play() : playerService.pause()"
      [style]="{ height: '40px' }">
      <span class="material-symbols"> {{ playerService.playerComp()?.paused ? 'play_arrow' : 'pause' }} </span>
    </p-button>
    <img [src]="playerService.songInfoComp()?.artworkUrl60 ?? '/track.png'"
      [style]="{ width: '40px', height: '40px', background: 'white', objectFit: 'cover' }"
    alt="" class="rounded-md">
  </div>
  <div class="center">
    <p>{{ playerService.songInfoComp()?.trackName ?? 'Canzone' }} - {{ playerService.songInfoComp()?.artistName }}</p>
  </div>
  <div class="end">
      <span>{{ (playerService.playerComp()?.currentTime ?? 0) * 1000 | date : "mm:ss" }} / {{ (playerService.playerComp()?.duration ?? 0) * 1000 | date : "mm:ss" }}</span>
    <p-button [routerLink]="['/track/', playerService.songInfoComp()?.trackId]"
      [style]="{ height: '40px' }">
      <span class="material-symbols"> expand_content </span>
    </p-button>
    <p-button
    (onClick)="playerService.stop()"      [style]="{ height: '40px' }">
      <span class="material-symbols"> close </span>
    </p-button>
  </div>
</div>
