<app-navbar [items]="itemsBreadcrumb" />
<div class="p-4">
  <div class="flex flex-col md:flex-row items-center dark:bg-[#27272a] bg-gray-200 p-4 gap-4 justify-between text-center">
    <div class="flex-shrink-0 mb-4 md:mb-0 md:mr-4">
      <img [src]="collection?.artworkUrl100 ?? '/album.png'" alt="Copertina album" class="w-32 h-32 min-w-32 object-cover bg-white rounded-md border-2 border-gray-300" />
    </div>
    <div>
      <h2 class="text-4xl font-bold">{{collection?.collectionName ?? 'Album'}}</h2>
    </div>
    <div class="space-y-4">
      <p>{{collection?.artistName ?? 'Artista'}}</p>
      <p>{{collection?.trackCount ? (collection?.trackCount == 1 ? collection?.trackCount + ' brano' : collection?.trackCount + ' brani') : '0 brani'}}</p>
    </div>
  </div>
</div>
@if (tracks.length === 0) {
  <div class="text-center text-2xl p-4">Al momento non ci sono brani disponibili per questo album</div>
} @else {
  <app-table [data]="tracks" [type]="'number'"></app-table>
}
