<div class="toolbar flex-col md:flex-row">
  <div class="start w-full justify-between md:justify-start">
    <p-button [routerLink]="'/collection'" [style]="{ height: '40px' }" [label]="'Preferiti'">
      <span class="material-symbols"> favorite </span>
    </p-button>
    <p-button [routerLink]="'/lan'" [style]="{ height: '40px' }" [label]="'LAN'">
      <span class="material-symbols"> rss_feed </span>
    </p-button>
  </div>
  <div class="center w-full">
    <input
      pInputText
      placeholder="Cerca..."
      [(ngModel)]="searchService.query"
      (input)="searchService.search()"
      aria-label="search"
      style="width: 100%; max-width: 32rem; height: 40px"
      [class.ng-invalid]="searchService.query.length < 3"
    />
  </div>
  <div class="end">
    <p-select
      [options]="searchService.stateOptions"
      [(ngModel)]="searchService.entity"
      optionLabel="label"
      optionValue="value"
      [showClear]="true"
      placeholder="Filtra per..."
      aria-labelledby="basic"
      (onChange)="searchService.search()"
      [style]="{ height: '40px' }"
    />
  </div>
</div>
<div class="w-full h-[200px] md:h-[88px]"></div>
@if (searchService.query.length < 3) {
<app-hero image="logo.png" title="Lombify" description="Per la ricerca, scrivi almeno 3 caratteri... buon ascolto!"></app-hero>
} @else if (searchService.loadingComp()) {
<app-spinner></app-spinner>
} @else if (searchService.dataComp().length === 0) {
<app-hero image="not-found.png" title="Nessun risultato" [description]="'Nessun risultato trovato per ' + searchService.query + '... prova con qualcos\'altro!'"></app-hero>
} @else { @if (!searchService.entity) {
<app-table [data]="searchService.dataComp()" [type]="'picture'"></app-table>
} @else if (searchService.entity === 'artist') {
<!-- Table -->
<app-table [data]="searchService.dataComp()" [type]="'char'"></app-table>
} @else if (searchService.entity === 'collection') {
<!-- Card grid -->
<app-card [elements]="searchService.dataComp()"></app-card>
<div
  class="card-grid"
  style="
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin: 0 0 0 16px;
    width: calc(100% - 32px);
  "
>
  @for (album of searchService.dataComp(); track album.collectionId) {
  <div
    class="card"
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    "
  >
    <img
      [src]="album.artworkUrl100"
      alt="Card"
      style="width: 100%; height: auto; border-radius: 8px"
    />
    <h1 style="font-size: 1.2rem; margin: 0.5rem 0">
      {{ album.collectionName }}
    </h1>
    <p style="font-size: 1rem; color: gray">{{ album.artistName }}</p>
  </div>
  }
</div>
} @else if (searchService.entity === 'track') {
<!-- Card grid -->
<app-card [elements]="searchService.dataComp()"></app-card>
} }
